

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.button-start-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button-start{
  font-family: Bebas Neue;
  font-weight: 400;
  font-size: 25px;
  color: #fff;
  background-color: #ccb400;
  padding: 10px 30px;
  border: solid #4bcc00 2px;
  box-shadow: none;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 3em;

}

.button-start:hover{
  
  background-color: #fff;
  color: #08642e;
  border: none;
}

.player-faces{
  position: fixed;
  background: #585353;
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center;
  border: 10px solid #999;
  font-size: 220px;
  font-weight: bold;
  text-align: center;
  width: 90%;
  height: 95vh;
  bottom: 1%;
  right:2.5%;
  z-index: 100;
}



.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.grid-game{
  width:auto;
  height: 100vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column;
  row-gap: 0.5em;

}

.board{
display: flex;
align-self: center;
}

.board-row{
  margin: 0px;
  width: 7em;
}

.square {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #000000;
  font-size: 220px;
  font-weight: bold;
  line-height: 34px;
  height: 0.5em;
  width: 0.5em;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.player-info{
  display: flex;
  height: 35%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border: 15px;
  border-style: double;
  border-radius: 20px;
  padding: 1em;
  gap: 1em;
}

.status {
  width:100%;
  text-align: center;
  font-size: 40px;
  
}

.status-image{
  width: 100%;
  height: 50vh;
  background: no-repeat;
  background-size: contain;
  background-position: center;
  
}

.button-restart{
  font-family: Bebas Neue;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  background-color: #d4941ba0;
  padding: 5px 25px;
  border: solid #000000 2px;
  box-shadow: none;
  border-radius: 50px;
  cursor: pointer;
}

.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*///////////////////////////////////////*/
@media (min-width: 992px) and (max-width: 1400px){  
  
  .player-faces{
    width: 95%;
    bottom: 1%;
    right:1.5%;

  }

.grid-game{
  flex-flow: row;
  column-gap: 0.5em;
  margin: 15px;
}

.board-row{
  width: 14em;
}

.square {
  height: 1em;
  width: 1em;
}

.player-info{
  width: 45%;
  height: 90%;
  align-self: stretch;
  padding: 25px;
}

.status {
  font-size: 60px;
  
}

.status-image{

  background-size: cover;
}
}

@media (min-width: 1400px){

  .player-faces{
    width: 95%;
    bottom: 1%;
    right:1.5%;

  }

.grid-game{
  flex-flow: row;
  column-gap: 5em;
  margin: 15px;
}

.board-row{
  width: 17em;
}

.square {
  height: 1.2em;
  width: 1.2em;
}

.player-info{
  min-width: 25%;
  height: 80%;
  align-self: center;
  padding: 35px;
}

.status {
  font-size: 60px;
}

.status-image{

  background-size: cover;
}
}